@media (max-width: 768px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {

        &_header {
            text-align: center;
            font-size: 32px;
        }

        &_text {
            font-size: 14px;
            text-align: center;
        }

        &_button {
            display: flex;
            justify-content: center;
        }
    }

    .game {
        flex-wrap: wrap;
    }

    .section_one {
        display: flex;
        flex-wrap: wrap;

        &_content {
            border-radius: 16px;
            margin-left: 16px;
            margin-right: 16px;
            height: 230px;
            width: 250px;
        }
    }

    .section_two {

        &_info_game_one {
            text-align: center;

        }

        &_title {
            font-size: 32px;
        }

        &_slogan {
            font-size: 14px;
        }

        &_info_game_two {
            width: 350px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &_logo {
            display: flex;
            justify-content: center;
            padding-top: 64px;
            height: 236px;
        }
    }
}