* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 601px);
    padding-right: calc(50% - 601px);
}

.top {
    height: 1024px;
    background-image: url(img/topbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.top_content {
    padding-bottom: 44px;
}

.top_header {
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
}

.top_text {
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    padding-top: 32px;
}

.content_button {
    border-radius: 30px;
    background: #9C0332;
    width: 234px;
    height: 48px;
    font-size: 18px;
    line-height: 18px;
    color: #FFF;
    transition: 0.3s;
    border: none;
}

.product {
    background-image: url(img/productbg.jpg);
    display: flex;
    gap: 32px;
    flex-direction: row;
    padding-top: 128px;
    padding-bottom: 128px;
}

.product_content {
    height: 300px;
    width: 379px;
    display: flex;
    align-items: flex-end;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    padding: 32px;
}

.product_content1 {
    background-image: url(img/game1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.product_content2 {
    background-image: url(img/game2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.product_content3 {
    background-image: url(img/game3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

@import 'mobile';