@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 601px);
    padding-right: calc(50% - 601px);
}

.top {
    height: 1024px;
    background-image: url(img/topbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.top_content {
    padding-bottom: 44px;
}

.top_header {
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
}

.top_text {
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    padding-top: 32px;
}

.content_button {
    border-radius: 30px;
    background: #9C0332;
    width: 234px;
    height: 48px;
    font-size: 18px;
    line-height: 18px;
    color: #FFF;
    transition: 0.3s;
    border: none;
}

.game {
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    gap: 32px;
}

.section_one {
    background: #000915;
}

.section_one_content {
    display: flex;
    align-items: flex-end;
    height: 300px;
    width: 379px;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    padding: 32px;
}

.section_one_content:first-child {
    background-image: url(img/game1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section_one_content:nth-child(2) {
    background-image: url(img/game2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.section_one_content:last-child {
    background-image: url(img/game3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section_two {
    background: #000915;
}

.section_two_title {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section_two_slogan {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.section_two_content_button {
    border-radius: 30px;
    background: #9C0332;
    width: 234px;
    height: 48px;
    font-size: 18px;
    line-height: 18px;
    color: #FFF;
    transition: 0.3s;
}

.section_two_info_game_back {
    height: 1024px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: calc(50% - 601px);
    padding-right: calc(50% - 601px);
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;

}

.section_two_info_game_back_two {
    height: 1024px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: calc(50% - 601px);
    padding-right: calc(50% - 601px);
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section_two_info_game {
    display: flex;
    flex-direction: column;
}

.section_two_info_game_one {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.section_two_info_game_two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.section_two_logo {
    display: flex;
    justify-content: flex-end;
    width: 485px;
    height: 333px;
}

.footer_main {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer_slogan {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer_content_button {
    border-radius: 30px;
    background: #9C0332;
    width: 234px;
    height: 48px;
    font-size: 18px;
    line-height: 18px;
    color: #FFF;
    transition: 0.3s;
}

.footer_content_game_back {
    height: 1024px;
    background-image: url(img/footerback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: calc(50% - 601px);
    padding-right: calc(50% - 601px);
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
}

.footer_content_game {
    display: flex;
    flex-direction: column;
}

.footer_content_game_1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.footer_logo {
    display: flex;
    justify-content: flex-end;
    width: 485px;
    height: 333px;
}

@import 'mobile';